$icon-size:55px;
$dark-overlay:rgba(0,0,0,0.7);

.navbar{
    .nav-link{
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .nav-item.active{
        border-left: 3px solid #444;
    }
}

.carousel-item{
    height: 450px;
}

.carousel-image-1{
    background: url("../img/image1.jpg");
    background-size: cover;
}

.carousel-image-2{
    background: url("../img/image2.jpg");
    background-size: cover;
}

.carousel-image-3{
    background: url("../img/image3.jpg");
    background-size: cover;
}

.fa{
    font-size: $icon-size;
}

.home-heading{
    position: relative;
    min-height: 200px;
    background: url("../img/lights.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    background-size: cover;
}

.dark-overlay{
    position: absolute;
    background-color: $dark-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-section{
    position:relative;
    min-height: 200px;
    background: url(../img/media.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -300px;
    text-align: center;
    color: #fff;
    a{
        color: #fff;
    }
}

footer{
    background: #000;
    color: #fff;
}

.page-header{
    height: 200px;
    background: url("../img/image1.jpg");
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px solid #eee;
    padding-top: 50px;
}


.aboutus-section{
    img{
        margin-top: -50px;
    }
}

.testimonial-section{
    footer{
        background: transparent;
    }
}


.faq-section{
    .card{
        border: #444;
        a{
            color: #fff;
            text-decoration: none;
            display: block;
        }
    }

    .card-body, .card-header{
        background: #333;
    }
}


.blog-section{
    height: 585px;
    footer{
        background: transparent;
    }
}



.contactus-section {
    .contact-button{
        box-shadow: none;
    }
}